.container {
    padding: 2em;
    padding-top: 5em;
    transition: ease all .5s;
}

.sensor-value {
    margin: 0;
    font-size: 5em;
    transition: ease all .5s;
}

.sensor-subheader {
    margin: 0;
    color: #626262;
    transition: ease all .5s;
}

@media screen and (max-width: 720px) {
    .container {
        width: 50%;
        margin: auto;
        text-align: left;
    }
}

